html {
  height: 100%;
}

body {
    background: no-repeat center/auto 120% #5E5685  url("../resources/backdrop.jpg");
    color: #5E5685;
    font: bold 4em 'Clicker Script', cursive;
    text-align: center;
    height: 100%;
}

#camera {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
}

#frame {
    width: 100%;
}

.titlebar {
    background-color: rgba(255, 255, 255, .5);
    width: 100%;
    text-align: center;
}

.frame-wrapper {
    margin: 15px auto;
    width: 90%;
    min-height: 50px;
    border: 5px solid #5E5685;
    border-radius: 2em;
    background-color: rgba(255, 255, 255, .5);
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

i.fa {
    font-size: 2em;
}

.button {
    margin: 0 .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 4em;
    height: 4em;
    border-radius: 2em;
    border: 3px solid #5E5685;
    background-color: rgba(255, 255, 255, .5);
}

.hidden {
    display: none;
}

.disabled {
  color: grey;
}
